<h1><%= @list_name %></h1>

<form phx-submit="add" phx-change="change" >
  <ul>
    <%= for item <- @items do %>
      <li style="list-style-type: none; padding: 0px; margin: 0px;">
        <input type="checkbox" name="check[<%= item.id %>]"
               <%= if item.checked, do: "checked" %>>
        <%= item.name %>
        <input type="button"
               phx-value-item-id="<%= item.id %>"
               phx-value-smurf="gurka"
               phx-click="remove"
               value="🗑️"
               style="border: none; background: none; padding: 0px; margin: 0px;"></input>
      </li>
    <% end %>
  </ul>
  <input type="text" name="new" style="width: 50%">
</form>
