<form phx-change="change" phx-submit="add">
  <ul>
    <%= for item <- @items do %>
      <li style="list-style-type: none">  <input type="checkbox" name="check[<%= item.id %>]">
        <%= item.name %> (<%= item.id %>)
      </li>
    <% end %>
  </ul>
  <input type="text" name="new">
</form>
